# Package manager stuff
node_modules/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

build/

# API secrets and other common info (Note: This cannot be used keeping common secrets with src folder
common.js

# SDK stuff
.idea/
