# Package manager stuff
node_modules/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

build/

# API secrets and other common info
secrets.json
common.js
training/

# SDK stuff
.idea/
