.title {
    font-size: 3vw;
    text-align: center;
    color: #2EFFFF
}

.quotes {
    font-size: 2vw;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
}

.Comparison {
    background-image: url(./background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 5%;
}

.MoreInfo {
    background-image: url(./background3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 5%;
}

.copywrite {
    color: #2EFFFF;
    background-color: #3f50b5
}