.title {
    font-size: 3.5vw;
    text-align: center;
    color: #2EFFFF
}

.subtitle {
    font-size: 2.5vw;
    text-align: center;
    color: #2EFFFF
}

.quotes {
    font-size: 2vw;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
}


.HeaderLogo {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    
    padding: 0;
    margin: 0;
  
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 15%;
  }


.Comparison {
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 5%;
}

.MoreInfo {
    background-image: url(../images/background3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 5%;
}

.copywrite {
    color: #2EFFFF;
    background-color: #3f50b5
}

.graph {
    width: 80%; 
    margin-left:10%;
}