.App {
  text-align: center;
}

.logo {
  width: 30vh;
  margin: 3vh;
}

.App-link {
  color: #61dafb;
}

.HeaderLogo {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  
  padding: 0;
  margin: 0;

  background-image: url(./images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  padding-top: 5%;
}

.initialLogo {
  width: 75%;
  height: 60%;
}

.keywords {
  font-family: "Lucida Console";
  font-size: 300%;
  font-weight: bolder;
  padding-top: 3%
}
