.App {
  text-align: center;
}

.logo {
  width: 30vh;
  margin: 3vh;
}

.App-link {
  color: #61dafb;
}

.initialLogo {
  width: 35%;
  height: 60%;
}

.keywords {
  font-family: "Lucida Console serif", serif;
  font-size: 300%;
  font-weight: bolder;
  padding-top: 3%
}
