.ButtonUI {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
}

.Buttons {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.CustomButton {
    font-weight: bolder;
    margin-left: 5em; 
    margin-right: 5em;
    width: 12em;
    height: 3em;
    color: #DEE;
    font-weight: bolder;
    font-size: 1.5em;
}

.CustomLearnMore {
    font-weight: bolder;
    font-size: 1.5em;
    width: 50%;
    height: 3em;
    margin-left: 25vw;
    margin-bottom: 3%;
    color: #DEE;
}

.CustomContactUs {
    font-weight: bolder;
    font-size: 1.5em;
    width: 30%;
    height: 3em;
    margin-left: 35vw;
    color: #DEE;
}

.CustomSubmitContact {
    font-weight: bolder;
    width: 7em;
    height: 2.4em;
    color: #DEE;
    font-size: 1em;
}

.CustomSubmitAuth {
    font-weight: bolder;
    width: 7em;
    height: 2.4em;
    color: #DEE;
    font-size: 1em;
    display: block;
    margin: auto;
}
